<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Signature</key>
	<data>
	mloGcVWjg6us9PKV+4Z8JX/ZEjl12YlGOI4W/3C4m/5E6rn2SwjgSVCKkzZF2yqVOgUX
	oZQUdS09rjUxrExFmwX865JjHJHp6p+oI7Ko/U85ff1J3bJqkz6Ts+IqReM0AaZzUFDo
	Q883Dgd7qGA3OWqBpAQvEWYPZM/hDmGlZ4U=
	</data>
</dict>
</plist>
